[user]
	name = Patricio Gonzalez Vivo
	email = patriciogonzalezvivo@gmail.com
[push]
	default = matching
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[filter "lfs"]
	process = git-lfs filter-process --skip
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
[color]
	ui = auto
[init]
	defaultBranch = main
